@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
	--main-purple: #635fc7;
	--main-purple-hover: #a8a4ff;
	--background: #f4f7fd;
	--medium-grey: #828fa3;
	--dark-grey: #2b2c37;
	--lines: #e4ebfa;
	--red: #ea5555;
	--red-hover: #ff9898;
}

.dark {
	--background: #20212c;
    --lines: #3e3f4e;
}

html {
	font-family: "Plus Jakarta Sans", serif;
}

@layer base {
	body {
		@apply bg-background;
	}
}

@layer components {
    .form-title {
        @apply text-lg text-black dark:text-white
    }
}